@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body{
    width: 100%;
    text-align:center;
    background-color: #0a0a0a;
    margin: 0;
    height: 100%; 
    overflow: hidden
 }

 h1{
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
 }
 canvas {
    display: inline;
 }